<div ng-if="$ctrl.hasData">
    <table class="numeric-table">
        <tr>
            <th>Load</th>
            <th>RM</th>
            <th ng-repeat="exercise in $ctrl.exercises"><i>{{exercise.name}}</i></th>
        </tr>
        <tr ng-repeat="rm in $ctrl.rmData">
            <td ng-style="{{$ctrl.background(rm.factor)}}">{{rm.factor * 100}} %</td>
            <td>{{rm.reps}}</td>
            <td ng-repeat="exercise in $ctrl.exercises">{{$ctrl.round(exercise.rm1 * rm.factor)}}</td>
        </tr>
    </table>
    <small class="darker">Precision = {{$ctrl.precision}}</small>
</div>