<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Body Fat Calculator</title>
    <link type="text/css" rel="stylesheet" href="fitness.css">
    <link rel="icon" href="fitness.ico" />
</head>
<body ng-app="app">
    <h1>Body fat calculator using the Navy-seal formula</h1>

    <noscript>
        <p>
            Javascript is required for this application to work.<br>
            <a href="https://support.google.com/answer/23852">Enable Javascript</a>
        </p>
    </noscript>

    <p ng-hide="true">Loading...</p>


    <section ng-controller="BodyFatController as controller" ng-cloak>

        <!-- Body Fat Calculator -->

        <div>
            Length unit:<br>
            <label>
                <input type="radio" name="unit" value="cm" ng-model="controller.unit" ng-change="controller.change()"> Centimeter
            </label>
            <label>
                <input type="radio" name="unit" value="in" ng-model="controller.unit" ng-change="controller.change()"> Inch
            </label>
            <br>
            Gender:<br>
            <label>
                <input type="radio" name="gender" value="male" ng-model="controller.gender" ng-change="controller.change()"> Male
            </label>
            <label>
                <input type="radio" name="gender" value="female" ng-model="controller.gender" ng-change="controller.change()"> Female
            </label>
            <br>
            <label>
                Height:<br>
                <input type="text" ng-model="controller.height" placeholder="Enter height here" ng-change="controller.change()">
            </label><br>
            <label>
                Neck:<br>
                <input type="text" ng-model="controller.neck" placeholder="Enter neck here" ng-change="controller.change()">
            </label><br>
            <label>
                Waist:<br>
                <input type="text" ng-model="controller.waist" placeholder="Enter waist here" ng-change="controller.change()">
            </label><br>
            <label ng-if="controller.isFemale()">
                Hip:<br>
                <input type="text" ng-model="controller.hip" placeholder="Enter waist here" ng-change="controller.change()"><br>
            </label>
            <label>Body Fat Ratio:</label> {{controller.bodyFat.toFixed(0)}} %<br>
        </div>
        <br>
        <div ng-if="controller.bodyFatIsValid()">
            <a href="javascript:void(0)" ng-click="controller.submit()">Submit</a><br>
            Click submit and add the new URL to your browser bookmarks.<br>
            <br>
        </div>

        <!-- Rationale -->

        <details>
            <summary>Rationale</summary>
            <br>
            The Navy-seal formula for males is 86.010 x log10 (abdomen - neck) - 70.041 x log10 (height) + 36.76 while for females it is 163.205 x log10 (waist + hip - neck) - 97.684 x log10 (height) - 78.387. [Length unit: inch.]<br>
            <br>
            Navy-seal formula and bioelectrical impedance are both simple and reliable instruments to measure body composition in adults.<br>
            <br>
            <small class="darker">Reference: Shaheen A, Javed N, Azam F, et al. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6650177/">Comparison of Bioelectrical Impedance and Navy Seal Formula to Measure Body Composition in Medical Students</a>. <i>Cureus</i>. 2019;11(5):e4723. Published 2019 May 22. doi:10.7759/cureus.4723</small>
        </details>

    </section>
    <br>

    <footer>
        <small class="darker">
            Copyright &copy; 2020 Daniel Martínez Fernández. MIT License.
        </small>
    </footer>

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script>
        "use strict";

        (function () {
            angular.module('app', []);
        }());


        (function () {
            'use strict';

            class BodyFatController {
                constructor() {
                    let params = new URLSearchParams(window.location.search);
                    if (params.has('gender')) {
                        let param = params.get('gender');
                        if (param == "male" || param == "female")
                            this.gender = param;
                    }
                    if (params.has("unit")) {
                        let param = params.get("unit").toLowerCase();
                        if (param == "cm" || param == "in")
                            this.unit = param;
                    }
                    else {
                        this.unit = "cm";
                    }
                    if (params.has("height")) {
                        let param = params.get("height");
                        if (!isNaN(param))
                            this.height = Number(param);
                    }
                    if (params.has("neck")) {
                        let param = params.get("neck");
                        if (!isNaN(param))
                            this.neck = Number(param);
                    }
                    if (params.has("waist")) {
                        let param = params.get("waist");
                        if (!isNaN(param))
                            this.waist = Number(param);
                    }
                    if (params.has("hip")) {
                        let param = params.get("hip");
                        if (!isNaN(param))
                            this.hip = Number(param);
                    }
                    this.change();
                }
                toInches(length) {
                    return this.unit == "cm" ? length / 2.54 : length;
                }
                isMale() {
                    return this.gender == 'male';
                }
                isFemale() {
                    return this.gender == 'female';
                }
                change() {
                    if (this.isFemale())
                        this.bodyFat = 163.205 * Math.log10((this.toInches(this.waist + this.hip - this.neck))) - 97.684 * Math.log10(this.toInches(this.height)) - 78.387;
                    else if (this.isMale())
                        this.bodyFat = 86.010 * Math.log10(this.toInches(this.waist - this.neck)) - 70.041 * Math.log10(this.toInches(this.height)) + 36.76;
                    else
                        this.bodyFat = undefined;
                }
                bodyFatIsValid() {
                    return this.bodyFat != null && !isNaN(this.bodyFat) && this.bodyFat >= 0 && this.bodyFat <= 100;
                }
                submit() {
                    console.log("submit()");
                    let url = window.location.origin + window.location.pathname +
                        "?gender=" + this.gender +
                        "&unit=" + this.unit +
                        "&height=" + this.height +
                        "&neck=" + this.neck +
                        "&waist=" + this.waist +
                        (this.isFemale() ? "&hip=" + this.hip : "");
                    window.location = url;
                }
            }
            angular.module('app').controller('BodyFatController', BodyFatController);
        }());
    </script>
</body>
</html>