<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Load and repetitions for resistance training</title>
    <link type="text/css" rel="stylesheet" href="fitness.css">
    <link type="text/css" rel="stylesheet" href="resistancetraining.css">
    <link rel="icon" href="fitness.ico" />
</head>
<body ng-app="app">
    <h1>Load and repetitions for resistance training</h1>

    <noscript>
        <p>
            Javascript is required for this application to work.<br>
            <a href="https://support.google.com/answer/23852">Enable Javascript</a>
        </p>
    </noscript>

    <p ng-hide="true">Loading...</p>



    <section ng-controller="ResistanceTrainingController as controller" ng-cloak>

        <!-- Table -->

        <rm-table exercises="controller.data.exercises" precision="controller.data.precision" has-data="controller.data.isLoaded"></rm-table>
        <br ng-if="controller.data.isLoaded">

        <!-- Rationale -->

        <details>
            <summary>Rationale</summary>
            <br>
            <span style="background-color: var(--strength-color)">&nbsp;&bull;&nbsp;</span>&nbsp;Strength: Load 85-100 %, 1-6 repetitions, 2-6 sets.<br>
            <span style="background-color: var(--hypertrophy-color)">&nbsp;&bull;&nbsp;</span>&nbsp;Hypertrophy: Load 67-85 %, 6-12 repetitions, 3-6 sets.<br>
            Repetition Maximum (RM) data from <i>Essentials of strength training and conditioning</i>*.<br>
            <br>
            <small class="darker">*Haff, G., & Triplett, N. T. (2016). <i>Essentials of strength training and conditioning</i>. Fourth edition. Champaign, IL: Human Kinetics.</small>
        </details>
        <br>

        <!-- 1RM Calculator -->

        <details>
            <summary>1RM Calculator</summary>
            <br>
            <label>Load:</label><br>
            <input type="text" ng-model="controller.calculator.load" placeholder="Enter load here" ng-change="controller.calculatorChange()"><br>
            <label>Repetitions:</label><br>
            <input type="text" ng-model="controller.calculator.reps" placeholder="Enter repetitions here" ng-change="controller.calculatorChange()"><br>

            <rm-table exercises="controller.calculator.exercises" precision="controller.calculator.precision" has-data="controller.calculatorHasValue()"></rm-table>

        </details>
        <br>

        <!-- Query -->

        <details ng-open="!controller.data.isLoaded">
            <summary>Query</summary>
            <br>
            <label>Exercises:</label><br>
            <input type="text" ng-model="controller.query.exercises" placeholder="Enter comma separated exercises here" style="width: 100%;">
            <label>1RM:</label><br>
            <input type="text" ng-model="controller.query.rm1" placeholder="Enter comma separated 1RM values here" style="width: 100%;"><br>
            <label>Precision:</label><br>
            <select ng-model="controller.query.precision">
                <option value="2.5">2.5</option>
                <option value="1">1</option>
                <option value="0.5">0.5</option>
            </select><br>
            <br>
            <a href="javascript:void(0)" ng-click="controller.query.submit()">Submit</a><br>
            Enter comma separated exercises and 1RM values, then click submit and add the new URL to your browser bookmarks.
        </details>
    </section>
    <br>

    <footer>
        <small class="darker">
            Copyright &copy; 2019 Daniel Martínez Fernández. MIT License.
        </small>
    </footer>

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script>
        "use strict";

        (function () {
            angular.module('app', []);
        }());

    </script>
    <script src="resistancetraining.js"></script>
    <script src="resistanceTraining/rmTable.js"></script>
</body>
</html>

<!-- Acknowledges:
    Web style: https://www.ibm.com/design/language/
    AngularJS: https://coryrylan.com/blog/es2015-class-in-angularjs-controllers-and-services
-->
